<link rel="stylesheet" href="//localhost:1436/bootstrap.css">
<link rel="stylesheet" href="//localhost:1436/styles.css">
<div class="content">
  <h1>{{#link-to 'index'}}Grasshopper{{/link-to}}</h1>

  {{outlet}}
</div>
