body{
  background:#F09878;
}

.content{
  background:white;
  height: 100%;
  width: 75%;
  padding: 0px 10px;
  overflow-y: auto;
  margin:0 auto;
}

h1.error{
  text-align: center;
}

label {
  display: block;
  margin: 16px 8px;
}

input, button, select, textarea {
  display: block;
  width: 100%;
}
