link(rel='stylesheet', href='/bootstrap.css')
script(type='text/javascript' src='/bootstrap.js')
link(rel='stylesheet', href='/styles.css')

div.content

  h1 Edit recipe

  form(action='/recipes/' + slug, method='PUT')
    label Title
      input(name='title', value=title)
    label Ingredients
      textarea(name='ingredients', rows=10)= ingredients.join('\n')
    label Directions
      textarea(name='directions', rows=10)= directions.join('\n')
    button(type=submit) Save
