link(rel='stylesheet', href='/bootstrap.css')
script(type='text/javascript' src='/bootstrap.js')
link(rel='stylesheet', href='/styles.css')

div.content

  h1 List of recipes

  ul
    each recipe in recipes
      li
        a(href='/' + recipe.slug) #{recipe.title}

  p
    a(href='/new') Create new recipe
